.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #dfddc7 !important;
}

.nav {
  background-color: #00918e !important;
  padding: 0 !important;
}

.burger {
  color: #110133 !important;
}

.logo {
  max-height: 12vmin !important;
  width: auto !important;
  margin: 0 auto !important;
}

.imageCard {
  height: 40px !important;
  width: auto !important;
}

.imageCard img {
  object-fit: contain !important;
}
